[Unit]
Description=Anklav update system
After=network.target postgresql.service salt-master.service

[Service]
User=ankup_user
Group=ankup_user
WorkingDirectory=/opt/ankup
EnvironmentFile=/etc/sysconfig/ankup

ExecStartPre=/opt/ankup/venv/bin/python manage.py migrate --noinput
ExecStart=/opt/ankup/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 ankup.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
