[Unit]
Description=Ankup task queue
After=network.target redis.service ankup-core.service

[Service]
User=ankup_user
Group=ankup_user
WorkingDirectory=/opt/ankup
EnvironmentFile=/etc/sysconfig/ankup

ExecStart=/opt/ankup/venv/bin/celery -A core worker -l info --logfile=/var/log/ankup/celery.log

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
